.users {
  width: 100%;
}

.users h1 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.actions {
  display: flex;
  gap: 8px;
}

